[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
[submodule "plugins/pelican-bootstrapify"]
	path = plugins/pelican-bootstrapify
	url = https://github.com/ingwinlu/pelican-bootstrapify
