{% if GOOGLE_ANALYTICS %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', '{{ GOOGLE_ANALYTICS }}');
  </script>
{% endif %}

{% if GAUGES %}
  <script>
    var _gauges = _gauges || [];
    (function() {
      var t = document.createElement('script');
      t.type = 'text/javascript';
      t.async = true;
      t.id = 'gauges-tracker';
      t.setAttribute('data-site-id', '{{ GAUGES }}');
      t.src = 'https://secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
{% endif %}

{% if PIWIK_URL and PIWIK_SITE_ID %}
  <script>
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u = '{{ PIWIK_URL }}/';
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', '{{ PIWIK_SITE_ID }}']);
      var g = document.createElement('script');
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(g, s);
    })();
  </script>
{% endif %}
