{% if DISQUS_SITENAME %}
  <hr>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function() {
      this.page.url = '{{ SITEURL }}/{{ output_file }}';
      this.page.identifier = '{{ article.slug }}';
    };
    (function() {
      var d = document;
      var s = d.createElement('script');
      s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript class="text-muted">
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
  </noscript>
{% endif %}
{% if ISSO_URL and SITEURL and article.status != "draft" %}
  <div id="isso_thread">
  <script data-isso="{{ ISSO_URL }}/"
    src="{{ ISSO_URL }}/js/embed.min.js"></script>
  <section id="isso-thread"></section>
  </div>
{% endif %}
