  <hr />
  <div class="well well-sm">  <!-- Social media sharing buttons -->
    {% if TWITTER_USERNAME %}
    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" 
       data-via="{{ TWITTER_USERNAME }}" >Tweet</a>&nbsp;
    {% endif %}

    <!-- Google+ -->
    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="g-plusone" data-size="medium"></div>&nbsp;

    <!-- Facebook -->
    <div class="fb-like" 
      {% if page %}
        data-href="{{ SITEURL }}/{{ page.url }}" 
      {% else %}
        data-href="{{ SITEURL }}/{{ article.url }}" 
      {% endif %}
        data-layout="button_count" 
        data-action="like" data-show-faces="true" 
        data-share="true">
    </div>
    &nbsp;
  </div> <!-- /Social media sharing buttons -->