::selection {
  background: #0085A1;
  color: #fff;
  text-shadow: none;
}

body {
  background-color: #f5f5f5;
  font-family: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
}

a {
  color: #333;
}

a:focus,
a:hover {
  color: #0085a1
}

blockquote {
  color: #777;
  font-style: italic
}

/* ------------------------------------------------------------------------- */

.container {
  max-width: 970px;
}

.header {
  border-bottom: 1px solid #ddd;
}

.main {
  background-color: #fff;
  padding: 20px 0;
}

.footer {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

.highlight pre {
  border: 1px solid #ddd;
}

.pagination > li > a,
.pagination > li > span {
  color: #333;
}

.header img {
  margin: 20px 0;
}

.header h1 {
  font-size: 3em;
}

.header p {
  font-size: 1.1em;
  margin: 20px 0;
}

.header ul {
  margin-bottom: 10px;
}

.header li {
  margin-bottom: 10px;
}

.page-header {
  margin-top: 0;
}

.teaser h2 {
  margin-top: 0;
}

.teaser p {
  margin-bottom: 0;
}

.teaser header div {
  margin-bottom: 10px;
}

.article > ul,
.article > ol,
.article > p,
.article > blockquote,
.article > .highlight {
  margin: 30px 0;
}

.article > h2 {
  margin-top: 50px;
}

.article a {
  text-decoration: underline
}

.article header ul {
  margin-bottom: 10px;
}

.article header li {
  margin-bottom: 10px;
}
