{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="{{ article.summary|striptags }}">
{% endblock %}

{% block title %}
{{ article.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
{{ article.title }}
{% endblock %}

{% block content %}
<article class="article">
  <header>
    <ul class="list-inline">
      <li class="text-muted" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</li>
      <li>&middot;</li>
      <li><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li>
      {% if article.authors and ARTICLE_AUTHORS %}
      <li>&middot;</li>
      <li>By
        {% for author in article.authors %}
        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}
      {% if article.tags %}
      <li>&middot;</li>
      <li>
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}
    </ul>
  </header>
  {{ article.content }}
</article>
{% include 'include/comments.html' %}
{% endblock %}
