{% extends "base.html" %}

{% block head %}
{{ super() }}
{% if DESCRIPTION %}
<meta name="description" content="{{ DESCRIPTION|striptags }}">
{% endif %}
{% endblock %}

{% block title %}
{{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}

{% block page_header %}
All Articles
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<article class="row teaser">
  <header class="col-sm-4 hidden-xs text-right text-muted">
    <div title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </div>
    <div>
      <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </div>
    {% if not HIDE_AUTHORS and article.authors %}
    <div>
      {% for author in article.authors %}
      <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </header>
  <div class="col-sm-8">
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
    {{ article.summary|striptags }}
  </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% include 'include/pagination.html' %}
{% endblock %}
